<div class="container-fluid">
    <h2 class="text-white fw-bold mb-4">Edit Invoice: {{invoice.invoiceNumber}}</h2>

    <form action="/invoices/update/{{invoice._id}}" method="POST">
        {{> invoices/_form invoice=invoice projects=projects}}
        <button type="submit" class="btn btn-warning w-100 mt-4 fw-bold py-3">SAVE CHANGES</button>
    </form>
</div>