<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="text-white fw-bold">Create New Invoice</h2>
        <a href="/invoices" class="btn btn-outline-secondary">Back</a>
    </div>

    <form action="/invoices/create" method="POST">
        {{> invoices/_form projects=projects}}
        <button type="submit" class="btn btn-danger w-100 fw-bold py-3 shadow">SAVE INVOICE</button>
    </form>
</div>