<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold text-primary">404</h1>
        <div style="height: 3px; width: 60px; background: #0dcaf0; margin: 15px auto; border-radius: 10px;"></div>
        <h3 class="text-white fw-bold mb-3">PAGE NOT FOUND</h3>
        <p class="text-secondary mb-4">
            The resource you are looking for at <strong>SmartBuild Ltd</strong> <br> 
            might have been removed or is temporarily unavailable.
        </p>
        <a href="/auth/login" class="btn btn-outline-primary px-4 fw-bold">
            <i class="fas fa-home me-2"></i> Login to Acess the system
        </a>
    </div>
</div>